# Creación y manipulaciónde series de Pandas

## Creación de una serie

In [1]:
import pandas as pd

In [2]:
indice = ['Juan', 'Maria', 'Francisco', 'Mireya', 'Luisa']
datos_lista = [40, 20, 36, 34, 20]

In [5]:
edades = pd.Series(datos_lista, index = indice)

In [6]:
edades

Juan         40
Maria        20
Francisco    36
Mireya       34
Luisa        20
dtype: int64

In [26]:
datos = dict(zip(indice, datos_lista))

In [27]:
edades = pd.Series(datos)
edades

Juan         40
Maria        20
Francisco    36
Mireya       34
Luisa        20
dtype: int64

In [28]:
edades.dtype

dtype('int64')

In [29]:
edades.size

5

In [30]:
edades.index

Index(['Juan', 'Maria', 'Francisco', 'Mireya', 'Luisa'], dtype='object')

In [42]:
edades.values

array([40, 20, 36, 34, 20], dtype=int64)

In [58]:
for x, y in zip(list(edades.index), list(edades.values)):
    print(item)

20
20
20
20
20

In [56]:
for (a, b) in zip(indice, edades):
    print(a, b)

Juan 40
Maria 20
Francisco 36
Mireya 34
Luisa 20

In [ ]:
type()