In [43]:
import math

def cubo():
    print("Cubo")
    l = float(input("Ingresa la medida del lado: "))
    print("El volumen es: ")
    return l**3

def cilindro():
    print("Cilindro")
    r = float(input("ingresa la medida del radio de la base: "))
    h = float(input("ingresa la medida de la altura: "))
    print("El volumen es: ")
    return math.pi * r**2 * h

def piramide():
    print("Pirámide")
    l = float(input("ingresa la medida del lado: "))
    h = float(input("ingresa la medida de la altura: "))
    print("El volumen es: ")
    return (l**2 * h) / 2

def cono():
    print("Cono")
    r = float(input("Ingresa la medida del radio de la base: "))
    h = float(input("Ingresa la medida de la altura: "))
    print("El volumen es: ")
    return (math.pi * r**2 * h) / 3

def cuadrado():
    print("Cuadrado")
    l = float(input("Ingresa la medida del lado: "))
    print("El área es: ")
    return l**2

def rectangulo():
    print("Rectángulo")
    b = float(input("Ingresa la medida de la base: "))
    h = float(input("Ingresa la medida de la altura: "))
    print("El área es: ")
    return h * b

def triangulo():
    print("Triángulo")
    b = float(input("Ingresa la medida de la base: "))
    h = float(input("Ingresa la medida de la altura: "))
    print("El área es: ")
    return (b * h) / 2

def circulo():
    print("Circulo")
    r = float(input("Ingresa la medida del radio: "))
    print("El área es: ")
    return math.pi * r**2

def switcher_volumenes(arg):
    switcher = {
        1: cubo,
        2: cilindro,
        3: piramide,
        4: cono
    }
    func = switcher.get(arg, lambda: "Inválido")
    return func()

def switcher_areas(arg):
    switcher = {
        1: cuadrado,
        2: rectangulo,
        3: triangulo,
        4: circulo
    }
    func = switcher.get(arg, lambda: "Inválido")
    return func()

In [45]:
lista = [num**8 for num in range(1, 101)]

In [46]:
lista

[1,
 256,
 6561,
 65536,
 390625,
 1679616,
 5764801,
 16777216,
 43046721,
 100000000,
 214358881,
 429981696,
 815730721,
 1475789056,
 2562890625,
 4294967296,
 6975757441,
 11019960576,
 16983563041,
 25600000000,
 37822859361,
 54875873536,
 78310985281,
 110075314176,
 152587890625,
 208827064576,
 282429536481,
 377801998336,
 500246412961,
 656100000000,
 852891037441,
 1099511627776,
 1406408618241,
 1785793904896,
 2251875390625,
 2821109907456,
 3512479453921,
 4347792138496,
 5352009260481,
 6553600000000,
 7984925229121,
 9682651996416,
 11688200277601,
 14048223625216,
 16815125390625,
 20047612231936,
 23811286661761,
 28179280429056,
 33232930569601,
 39062500000000,
 45767944570401,
 53459728531456,
 62259690411361,
 72301961339136,
 83733937890625,
 96717311574016,
 111429157112001,
 128063081718016,
 146830437604321,
 167961600000000,
 191707312997281,
 218340105584896,
 248155780267521,
 281474976710656,
 318644812890625,
 360040606269696,
 406067677556641,
 457163239653376,
 513798374428641,
 576480100000000,
 645753531245761,
 722204136308736,
 806460091894081,
 899194740203776,
 1001129150390625,
 1113034787454976,
 1235736291547681,
 1370114370683136,
 1517108809906561,
 1677721600000000,
 1853020188851841,
 2044140858654976,
 2252292232139041,
 2478758911082496,
 2724905250390625,
 2992179271065856,
 3282116715437121,
 3596345248055296,
 3936588805702081,
 4304672100000000,
 4702525276151521,
 5132188731375616,
 5595818096650401,
 6095689385410816,
 6634204312890625,
 7213895789838336,
 7837433594376961,
 8507630225817856,
 9227446944279201,
 10000000000000000]

In [49]:
lsita2 = [x for x in range(1, 11) if x%2 == 0]

In [50]:
lsita2

[2, 4, 6, 8, 10]

In [51]:
fh = [((9/5)*temp + 32) for temp in range(-100,101,10)]

In [52]:
fh

[-148.0,
 -130.0,
 -112.0,
 -94.0,
 -76.0,
 -58.0,
 -40.0,
 -22.0,
 -4.0,
 14.0,
 32.0,
 50.0,
 68.0,
 86.0,
 104.0,
 122.0,
 140.0,
 158.0,
 176.0,
 194.0,
 212.0]

In [63]:
lst = [x if x% 8 != 0 else 'Lol' for x in range(1, 51)]

In [64]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'Lol',
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 'Lol',
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 'Lol',
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 'Lol',
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 'Lol',
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 'Lol',
 49,
 50]

In [1]:
#ahora sí

In [5]:
mystring = 'Hello'

In [8]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [9]:
mylist

['H', 'e', 'l', 'l', 'o']

In [10]:
mylist = [letter for letter in mystring]

In [11]:
mylist

['H', 'e', 'l', 'l', 'o']

In [12]:
mylist = ['a'] * 5

In [13]:
mylist.append('b')

In [14]:
lista_bool = ['b' in item for item in mylist]

In [15]:
lista_bool

[False, False, False, False, False, True]

In [18]:
mylist = [x for x in 'Wordtwo']

In [19]:
mylist

['W', 'o', 'r', 'd', 't', 'w', 'o']

In [20]:
mylist = [num for num in range(11)]

In [21]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
mylist = [num**2 for num in range(11)]

In [23]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
mylist = [num for num in range(11) if num%2 == 0]

In [26]:
mylist

[0, 2, 4, 6, 8, 10]

In [34]:
celcius = [0,20, 21, 22, 23, 24, 25, 26]

In [35]:
fahrenheit = [(9/5)*temp + 32 for temp in celcius]

In [36]:
fahrenheit

[32.0, 68.0, 69.80000000000001, 71.6, 73.4, 75.2, 77.0, 78.80000000000001]

In [37]:
results = [x if x%2 == 0 else 'ODD' for x in range(15)]

In [38]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD', 12, 'ODD', 14]

In [56]:
from random import randint
import numpy as np

In [64]:

matriz = [[(i*j + 1) in randint(0,1000) for i in range(11)]for j in range(11)]

TypeError: argument of type 'int' is not iterable

In [60]:
matriz

[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0,
  0.6931471805599453,
  1.0986122886681098,
  1.3862943611198906,
  1.6094379124341003,
  1.791759469228055,
  1.9459101490553132,
  2.0794415416798357,
  2.1972245773362196,
  2.302585092994046,
  2.3978952727983707],
 [0.0,
  1.0986122886681098,
  1.6094379124341003,
  1.9459101490553132,
  2.1972245773362196,
  2.3978952727983707,
  2.5649493574615367,
  2.70805020110221,
  2.833213344056216,
  2.9444389791664403,
  3.044522437723423],
 [0.0,
  1.3862943611198906,
  1.9459101490553132,
  2.302585092994046,
  2.5649493574615367,
  2.772588722239781,
  2.9444389791664403,
  3.091042453358316,
  3.2188758248682006,
  3.332204510175204,
  3.4339872044851463],
 [0.0,
  1.6094379124341003,
  2.1972245773362196,
  2.5649493574615367,
  2.833213344056216,
  3.044522437723423,
  3.2188758248682006,
  3.367295829986474,
  3.4965075614664802,
  3.6109179126442243,
  3.713572066704308],
 [0.0,
  1.791759469228055,
  2.3978952727983707,
  2.772588722239781,
  3.044522437723423,
  3.258096538021482,
  3.4339872044851463,
  3.58351893845611,
  3.713572066704308,
  3.828641396489095,
  3.9318256327243257],
 [0.0,
  1.9459101490553132,
  2.5649493574615367,
  2.9444389791664403,
  3.2188758248682006,
  3.4339872044851463,
  3.6109179126442243,
  3.7612001156935624,
  3.8918202981106265,
  4.007333185232471,
  4.110873864173311],
 [0.0,
  2.0794415416798357,
  2.70805020110221,
  3.091042453358316,
  3.367295829986474,
  3.58351893845611,
  3.7612001156935624,
  3.912023005428146,
  4.04305126783455,
  4.1588830833596715,
  4.2626798770413155],
 [0.0,
  2.1972245773362196,
  2.833213344056216,
  3.2188758248682006,
  3.4965075614664802,
  3.713572066704308,
  3.8918202981106265,
  4.04305126783455,
  4.174387269895637,
  4.290459441148391,
  4.394449154672439],
 [0.0,
  2.302585092994046,
  2.9444389791664403,
  3.332204510175204,
  3.6109179126442243,
  3.828641396489095,
  4.007333185232471,
  4.1588830833596715,
  4.290459441148391,
  4.406719247264253,
  4.51085950651685],
 [0.0,
  2.3978952727983707,
  3.044522437723423,
  3.4339872044851463,
  3.713572066704308,
  3.9318256327243257,
  4.110873864173311,
  4.2626798770413155,
  4.394449154672439,
  4.51085950651685,
  4.61512051684126]]

In [61]:
min(min(matriz))

0.0

In [62]:
max(max(matriz))

4.61512051684126

In [65]:
s = 'Only the words'

In [66]:
s.split()

['Only', 'the', 'words']

In [67]:
l = s.split()

In [69]:
l[0][0] == 'O'

True